@model BTL_PTPMQL_NHOM12.Models.Nhanvien

@{
    ViewData["Title"] = "Delete";
}

<h1>Bạn có muốn xóa?</h1>

<h3>Bảng nhân viên</h3>
<div>
    @* <h4>Nhanvien</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinhNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinhNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phongban)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phongban.TenPB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDTNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDTNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChucVuNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChucVuNV)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaNV" />
        <input type="submit" value="Xóa" class="btn btn-danger btn-delete" /> 
        <a asp-action="Index" class="add_TSX">Trở lại danh sách</a>
    </form>
</div>
