@model BTL_PTPMQL_NHOM12.Models.Khachhang

@{
    ViewData["Title"] = "Delete";
}

<h1>Bạn có muốn xóa?</h1>

<h3>Bảng khách hàng</h3>
<div>
    @* <h4>Khachhang</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoQuanKH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoQuanKH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTKKH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTKKH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nganhang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nganhang.TenNH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiKH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiKH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDTKH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDTKH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailKH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailKH)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaKH" />
        <input type="submit" value="Delete" class="btn btn-danger btn-delete" /> |
        <a asp-action="Index" class="add_TSX">Trở lại danh sách</a>
    </form>
</div>
